<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="btn" ng-click="sb.toggleSlideOutMenu()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <button type="button" class="btn btn-default navbar-btn" tooltip-placement="bottom"
                      uib-tooltip="Add new employee" ng-click="sb.openAddEmployeeModal()">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default navbar-btn" tooltip-placement="bottom"
                      uib-tooltip="Add new issue" ng-click="sb.openAddIssueModal()">
                <i class="fa fa-file-o" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</div>
