<toaster-container toaster-options="{'time-out': 2500}"></toaster-container>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success btn-raised" ng-click="employees.openAddEmployeeModal()">Add new employee</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="city in employees.cities" heading="{{city.$id}}: {{city.employeesCount}} employee(s)"
                             panel-class="panel-primary">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in (employees.employees | filter: {city: city.$id})"
                ng-click="employees.select(employee)">
              <td>{{employee.firstName}} {{employee.lastName}}</td>
              <td>{{employee.position}}</td>
            </tr>
            </tbody>
          </table>
        </uib-accordion-group>
      </uib-accordion>
    </div>

    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Employee info</h3>
        </div>
        <div class="panel-body">

          <div>
            <div ng-if="employees.selectedEmployee">
              <button class="btn btn-raised btn-success" ng-click="employees.selectedEmployee = false;">Back to map</button>
              <p><em>Name</em>: {{employees.selectedEmployee.firstName}}</p>
              <p><em>Last Name</em>: {{employees.selectedEmployee.lastName}}</p>
              <p><em>Position</em>: {{employees.selectedEmployee.position}}</p>
            </div>

            <div ng-if="employees.employees">
              <ui-gmap-google-map
                center='employees.mapCenter'
                zoom='employees.mapZoom'>

                <ui-gmap-marker
                  ng-repeat="employee in employees.employees"
                  idKey='employee.firstName'
                  coords='{latitude: employee.lat, longitude: employee.lon}'>
                </ui-gmap-marker>
                <ui-gmap-marker
                  idKey='employees.selectedEmployee.firstName'
                  coords='{latitude: employees.selectedEmployee.lat, longitude: employees.selectedEmployee.lon}'
                  ng-if="employees.selectedEmployee">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
