<div class="modal-header">
  <h3 class="modal-title">Add new post</h3>
</div>
<div class="modal-body">
  <form id="postform" name="pm.postform" ng-submit="pm.addPost(pm.post)">

    <div class="form-group">
      <label for="posttitle" class="control-label">Title:</label>
      <input type="text" id="posttitle" class="form-control" ng-model="pm.post.title" palceholder="Stunning title"
             autofocus>
    </div>

    <div class="form-group">
      <label for="postbody" class="control-label">Text:</label>
      <textarea name="postbody" id="postbody" class="form-control" ng-model="pm.post.body"
                placeholder="A couple words on the matter"></textarea>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="submit" form="postform">Add post</button>
  <button class="btn btn-danger" type="button" ng-click="pm.cancel()">Cancel</button>
</div>
