<toaster-container toaster-options="{'time-out': 2500}"></toaster-container>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success btn-raised" ng-click="issues.openAddIssueModal()">Add new issue</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="filterissues" class="control-label">Search for issue:</label>
        <input type="text" id="filterissues" class="form-control" ng-model="issues.filter" placeholder="Search titles, statuses and repoters">
      </div>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Title <i class="fa fa-sort-asc" aria-hidden="true"></i></th>
          <th>Status</th>
          <th>Reporter <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="issue in issues.issues | filter: issues.filter">
          <td>{{issue.title}}</td>
          <td>{{issue.status}}</td>
          <td>{{issue.reporter}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
