

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="issues.openAddIssueModal()">Add new issue</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Title <i class="fa fa-sort-asc" aria-hidden="true"></i></th>
          <th>Status</th>
          <th>Reporter <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="issue in issues.issues">
          <td>{{issue.title}}</td>
          <td>{{issue.status}}</td>
          <td>{{issue.reporter}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
