<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title">Recent news:</h2>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="post in home.posts">
              <h3>{{post.title}}</h3>
              <p>{{post.body}}</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">Changelog</h2>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="commit in home.commits">

              <div class="commit" style="clear: both;">
                <div class="commit__avatar" style="float:left;width:64px;height:64px; ">
                  <img ng-src="{{commit.committer.avatar_url}}" class="img-responsive img-thumbnail">
                </div>
                <div class="commit__info">
                  <p>By <a ng-href="{{commit.committer.html_url}}">{{commit.committer.login}}</a> on {{commit.commit.author.date | date: 'short'}}</p>
                  <p>{{commit.commit.message.substr(0, 150)}}</p>
                  <p><a ng-href="{{commit.html_url}}">See on github</a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
